@value main-color from '../../../styles/variables.css';

.card {
  padding: 20px;
  box-shadow: 0px 2px 8px 0px rgba(227, 102, 212, 0.2);
}

.img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.rating {
  margin: 15px 0;
}
