.button {
  color: #fff;
  background: purple;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
  background: none;
  border: 1px solid purple;
  color: purple;
}
