.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background: purple;
  color: #fff;
  padding: 10px 25px;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.navLink {
  color: inherit;
  text-decoration: none;
  margin: 0 10px;
}

.navLinkActive {
  text-decoration: underline;
}

.headerLogo {
  fill: #fff;
}

.headerLaptop {
  transition: fill 0.4s;
}

.headerLogo:hover .headerLaptop {
  fill: purple;
}

.actions {
  display: flex;
  align-items: center;
}

.themeSelector {
  margin-left: 25px !important;
}
