.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 25px;
}

.input {
  margin-bottom: 20px;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 0;
}

.passWrapper {
  position: relative;
}

.showPass {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 8px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
